In [10]:
import numpy as np 
import pandas as pd

In [30]:
data = 'Kangaroo.csv'
Kangaroo = pd.read_csv(data, sep = ',')
df = pd.DataFrame(Kangaroo)

In [31]:
duplicates = df.duplicated()
df.drop_duplicates(inplace=True)

In [32]:
na_values = df.isnull().sum()
missing_percent = (na_values/ len(df)) * 100
print (missing_percent.round(2))

Unnamed: 0                    0.00
id                            0.00
url                           0.00
type                          0.00
subtype                       0.00
bedroomCount                  8.47
bathroomCount                17.04
province                      0.00
locality                      0.00
postCode                      0.00
habitableSurface             15.66
roomCount                    72.69
monthlyCost                 100.00
hasAttic                     84.43
hasBasement                  63.52
hasDressingRoom              96.73
diningRoomSurface            91.41
hasDiningRoom                82.40
buildingCondition            27.84
buildingConstructionYear     38.90
facedeCount                  33.76
floorCount                   53.28
streetFacadeWidth            80.70
hasLift                      76.30
floodZoneType                44.67
heatingType                  41.33
hasHeatPump                  90.70
hasPhotovoltaicPanels        89.99
hasThermicPanels             96.13
kitchenSurface               69.81
kitchenType                  47.84
landSurface                  50.80
hasLivingRoom                46.65
livingRoomSurface            63.98
hasBalcony                  100.00
hasGarden                    80.14
gardenSurface                80.14
gardenOrientation            93.03
parkingCountIndoor           64.86
parkingCountOutdoor          77.20
hasAirConditioning           98.60
hasArmoredDoor               95.40
hasVisiophone                80.10
hasOffice                    87.08
toiletCount                  31.45
hasSwimmingPool              97.74
hasFireplace                 96.21
hasTerrace                   40.99
terraceSurface               64.41
terraceOrientation           85.99
accessibleDisabledPeople    100.00
epcScore                     18.64
price                         4.97
dtype: float64

In [33]:
for col in df.columns:
    if missing_percent[col] > 50:
        df.drop(columns=col, inplace=True)
print(df.info)

<bound method DataFrame.info of        Unnamed: 0          id  \
0               0  20661494.0
1               1  20647642.0
2               2  20644816.0
3               3  20659813.0
4               4  20633249.0
...           ...         ...
80363      440319  20663057.0
80364      440364  20664347.0
80365      440966  20664354.0
80366      442237  20664377.0
80367      446550  20664387.0

                                                     url       type  \
0      https://www.immoweb.be/en/classified/apartment...  APARTMENT
1      https://www.immoweb.be/en/classified/house/for...      HOUSE
2      https://www.immoweb.be/en/classified/apartment...  APARTMENT
3      https://www.immoweb.be/en/classified/apartment...  APARTMENT
4      https://www.immoweb.be/en/classified/flat-stud...  APARTMENT
...                                                  ...        ...
80363  https://www.immoweb.be/en/classified/villa/for...      HOUSE
80364  https://www.immoweb.be/en/classified/apartment...  APARTMENT
80365  https://www.immoweb.be/en/classified/apartment...  APARTMENT
80366  https://www.immoweb.be/en/classified/apartment...  APARTMENT
80367  https://www.immoweb.be/en/classified/apartment...  APARTMENT

           subtype  bedroomCount  bathroomCount         province  \
0        APARTMENT           2.0            1.0         Brussels
1            HOUSE           4.0            2.0         Brussels
2        APARTMENT           2.0            1.0         Brussels
3        APARTMENT           2.0            2.0         Brussels
4      FLAT_STUDIO           1.0            1.0         Brussels
...            ...           ...            ...              ...
80363        VILLA           3.0            1.0          Antwerp
80364    APARTMENT           3.0            1.0         Brussels
80365    APARTMENT           3.0            1.0  Flemish Brabant
80366    APARTMENT           3.0            2.0    West Flanders
80367    APARTMENT           3.0            2.0          Antwerp

                         locality  postCode  ...  buildingConstructionYear  \
0                       Etterbeek      1040  ...                    2004.0
1                       Etterbeek      1040  ...                    1910.0
2                       Etterbeek      1040  ...                    1970.0
3                       Bruxelles      1040  ...                    2018.0
4                       Etterbeek      1040  ...                    1906.0
...                           ...       ...  ...                       ...
80363                  Willebroek      2830  ...                    2008.0
80364                       Jette      1090  ...                    1970.0
80365  Grimbergen Strombeek-Bever      1853  ...                    1964.0
80366                    Westende      8434  ...                       NaN
80367                     Wilrijk      2610  ...                    1964.0

      facedeCount          floodZoneType  heatingType     kitchenType  \
0             1.0         NON_FLOOD_ZONE          GAS   SEMI_EQUIPPED
1             2.0         NON_FLOOD_ZONE      FUELOIL       INSTALLED
2             2.0                    NaN      FUELOIL  HYPER_EQUIPPED
3             NaN  RECOGNIZED_FLOOD_ZONE          GAS  HYPER_EQUIPPED
4             2.0         NON_FLOOD_ZONE          GAS       INSTALLED
...           ...                    ...          ...             ...
80363         4.0         NON_FLOOD_ZONE          NaN             NaN
80364         4.0         NON_FLOOD_ZONE          GAS   SEMI_EQUIPPED
80365         NaN                    NaN          GAS  HYPER_EQUIPPED
80366         NaN                    NaN          GAS             NaN
80367         NaN         NON_FLOOD_ZONE          NaN             NaN

      hasLivingRoom toiletCount hasTerrace  epcScore     price
0              True         1.0       True         C  399000.0
1              True         3.0       True         E  895000.0
2              True         1.0       True         F  465000.0
3              True         2.0       True         B  590000.0
4               NaN         1.0        NaN         E  289000.0
...             ...         ...        ...       ...       ...
80363          True         3.0       True         B  849000.0
80364          True         1.0       True         D  279000.0
80365          True         1.0       True         B  299000.0
80366          True         2.0       True         A  325000.0
80367          True         2.0       True         B  340000.0

[80368 rows x 22 columns]>

In [34]:
#Remove unuseful and unrelevant columns: 
df = df.drop(columns=['url','kitchenType','toiletCount','buildingConstructionYear','heatingType', 'floodZoneType','province','hasLivingRoom','hasTerrace','bathroomCount','epcScore'  ], errors='ignore')
df.drop(columns=['Unnamed: 0'], inplace=True)
print(df)

               id       type      subtype  bedroomCount  \
0      20661494.0  APARTMENT    APARTMENT           2.0
1      20647642.0      HOUSE        HOUSE           4.0
2      20644816.0  APARTMENT    APARTMENT           2.0
3      20659813.0  APARTMENT    APARTMENT           2.0
4      20633249.0  APARTMENT  FLAT_STUDIO           1.0
...           ...        ...          ...           ...
80363  20663057.0      HOUSE        VILLA           3.0
80364  20664347.0  APARTMENT    APARTMENT           3.0
80365  20664354.0  APARTMENT    APARTMENT           3.0
80366  20664377.0  APARTMENT    APARTMENT           3.0
80367  20664387.0  APARTMENT    APARTMENT           3.0

                         locality  postCode  habitableSurface  \
0                       Etterbeek      1040             100.0
1                       Etterbeek      1040             270.0
2                       Etterbeek      1040              87.0
3                       Bruxelles      1040             104.0
4                       Etterbeek      1040              71.0
...                           ...       ...               ...
80363                  Willebroek      2830             252.0
80364                       Jette      1090              94.0
80365  Grimbergen Strombeek-Bever      1853             113.0
80366                    Westende      8434             111.0
80367                     Wilrijk      2610             132.0

      buildingCondition  facedeCount     price
0                  GOOD          1.0  399000.0
1         TO_BE_DONE_UP          2.0  895000.0
2                AS_NEW          2.0  465000.0
3                AS_NEW          NaN  590000.0
4                AS_NEW          2.0  289000.0
...                 ...          ...       ...
80363            AS_NEW          4.0  849000.0
80364              GOOD          4.0  279000.0
80365              GOOD          NaN  299000.0
80366    JUST_RENOVATED          NaN  325000.0
80367              GOOD          NaN  340000.0

[80368 rows x 10 columns]

In [35]:
print(df.shape)
print(df.columns)

(80368, 10)
Index(['id', 'type', 'subtype', 'bedroomCount', 'locality', 'postCode',
       'habitableSurface', 'buildingCondition', 'facedeCount', 'price'],
      dtype='object')

In [36]:
subtype_map = {
    'APARTMENT': 'FLAT',
    'FLAT_STUDIO' : 'FLAT',
    'SERVICE_FLAT' : 'FLAT',
    'DUPLEX' : 'DUPLEX',
    'PENTHOUSE' : 'PENTHOUSE',
    'GROUND_FLOOR' : 'FLAT',
    'TRIPLEX' : 'TRIPLEX',
    'LOFT' : 'LOFT',
    'KOT' : 'KOT', 
    'HOUSE' : 'HOUSE', 
    'APARTMENT_BLOCK' : 'APARTMENT_BLOCK',
    'MANSION' : 'HOUSE',
    'EXCEPTIONAL_PROPERTY' : 'EXCEPTIONAL_PROPERTY',
    'MIXED_USE_BUILDING' : 'OTHER_PROPERTY',
    'VILLA' : 'HOUSE',
    'TOWN_HOUSE' : 'HOUSE',
    'CHALET' : 'OTHER_PROPERTY',
    'MANOR_HOUSE' : 'OTHER_PROPERTY',
    'FARMHOUSE' : 'OTHER_PROPERTY',
    'BUNGALOW': 'OTHER_PROPERTY',
    'COUNTRY_COTTAGE' : 'OTHER_PROPERTY',
    'OTHER_PROPERTY':'OTHER_PROPERTY', 
    'CASTLE' : 'EXCEPTIONAL_PROPERTY',
    'PAVILION' : 'EXCEPTIONAL_PROPERTY'}

df['subtype'] = df['subtype'].replace(subtype_map)
app = df.loc[df['type'] == 'APARTMENT', 'subtype'].unique()
house = df.loc[df['type'] == 'HOUSE', 'subtype'].unique()
print (app)
print(house)

['FLAT' 'DUPLEX' 'PENTHOUSE' 'TRIPLEX' 'LOFT' 'KOT']
['HOUSE' 'APARTMENT_BLOCK' 'EXCEPTIONAL_PROPERTY' 'OTHER_PROPERTY']

In [ ]:
df['facedeCount'] = df['facedeCount'].fillna(df['facedeCount'].mode()[0])
df['buildingCondition'] = df['buildingCondition'].fillna(df['buildingCondition'].mode()[0])
df.loc[(df['type'] == 'APARTMENT') & (df['habitableSurface'].isna()), 'habitableSurface'] = 90.0
df.loc[(df['type'] == 'HOUSE') & (df['habitableSurface'].isna()), 'habitableSurface'] = 170.0

In [41]:
mode_appart = df.loc[df['type'] == 'APARTMENT', 'bedroomCount'].mode()[0]
mode_house = df.loc[df['type'] == 'HOUSE', 'bedroomCount'].mode()[0]
df.loc[(df['type'] == 'APARTMENT') & (df['bedroomCount'].isnull()), 'bedroomCount'] = mode_appart
df.loc[(df['type'] == 'HOUSE') & (df['bedroomCount'].isnull()), 'bedroomCount'] = mode_house

In [43]:
# Delete row for house_group and apartment_group
df = df[~df['type'].isin(['HOUSE_GROUP', 'APARTMENT_GROUP'])]

In [45]:
df['price'] = df['price'].fillna(0)
df_zero_price = df[df['price'] == 0]
print(df_zero_price)
df_zero_price.shape

               id       type subtype  bedroomCount              locality  \
3675   20556291.0      HOUSE   HOUSE           3.0  Molenbeek-Saint-Jean
14535  20074609.0      HOUSE   HOUSE           5.0              LA HULPE
15701  20612054.0      HOUSE   HOUSE           4.0                 MÉLIN
24191  20652512.0      HOUSE   HOUSE           3.0        Wechelderzande
42798  20515916.0  APARTMENT    FLAT           1.0                   HUY
47140  20598848.0      HOUSE   HOUSE           3.0              Waulsort
61224  11349721.0  APARTMENT    FLAT           2.0              Oostende
75452  20612384.0      HOUSE   HOUSE           2.0             Erpe-Mere

       postCode  habitableSurface buildingCondition  facedeCount  price
3675       1080             170.0              GOOD          2.0    0.0
14535      1310             212.0              GOOD          2.0    0.0
15701      1370             225.0              GOOD          4.0    0.0
24191      2275             170.0              GOOD          4.0    0.0
42798      4500              40.0              GOOD          2.0    0.0
47140      5540             170.0       TO_RENOVATE          3.0    0.0
61224      8400              90.0            AS_NEW          2.0    0.0
75452      9420             170.0              GOOD          2.0    0.0

(8, 10)

In [46]:
na_values = df.isnull().sum()
missing_percent = (na_values/ len(df)) * 100
print (missing_percent.round(2))

id                   0.0
type                 0.0
subtype              0.0
bedroomCount         0.0
locality             0.0
postCode             0.0
habitableSurface     0.0
buildingCondition    0.0
facedeCount          0.0
price                0.0
dtype: float64

In [48]:
df.dtypes

id                   float64
type                  object
subtype               object
bedroomCount         float64
locality              object
postCode               int64
habitableSurface     float64
buildingCondition     object
facedeCount          float64
price                float64
dtype: object

In [49]:
df.to_csv("simpledata.csv", index=False, encoding='utf-8')